.guess-users-choice {
    margin: 2rem auto;
    max-width: 100%;
    text-align: center;
}

.guess-users-choice h1 {
    color: #6a0dad;
}

.guess-users-choice form {
    margin-top: 20px;
    text-align: center;
}

.guess-users-choice label {
    color: #333333;
    font-weight: bolder;
    margin-right: 10px;
}

.guess-users-choice input[type="number"] {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.guess-users-choice button {
    background-color: #6a0dad;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.guess-users-choice button:hover {
    background-color: #7b1fa2;
    color: #ffd700;
}