{% extends "base.html" %}
{% load static %}

{% block title %}
New User Registration
{% endblock title %}

{% block css_file %}
<link rel="stylesheet" href="{% static "users/users.css" %}">
{% endblock css_file %}

{% block content %}
<div class="login-container">
    <h1>New User Registration</h1>
    <form action="/users/register/" method="POST">
        {% csrf_token %}
        <label for="register_username">Username:</label>
        <input id="register_username" type="text" name="username">
        
        <label for="register_password">Password:</label>
        <input id="register_password" type="password" name="password">

        <label for="verification_password">Verify Password:</label>
        <input id="verification_password" type="password" name="verification_password">

        <button>Register</button>
    </form>

    {% if msg != "None" %}
    <h3 class="bad-msg">{{ msg }}</h3>
    {% endif %}
    <a class="login-link" href="{% url "login" %}">Login</a>
</div>
{% endblock content %}