.footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #7c7b7a;
  color: white;
  text-align: center;
  justify-content: space-between;
}  

.footer-left {
  display: flex;
  align-items: center;
  margin-left: 1rem
}

.footer-right {
  display: flex;
  align-items: center;
  margin-right: 2rem
}

.footer-links {
  margin-right: 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.footer-links a:hover {
  color: #ffd700;
  text-decoration: none;
  margin-right: 10px;
}