{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>
        <meta name="description" content="World-of-Games-1312">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{% static "stylesheet.css" %}">
        <link rel="stylesheet" href="{% static "navbar.css" %}">
        <link rel="stylesheet" href="{% static "footer.css" %}">
        
        {% block css_file %}
        {% endblock css_file %}
        
        <nav class="navbar">
            {% comment %} <a href="{% url "menu" %}" class="navbar-brand">World of Games 1312</a> {% endcomment %}
            <ul class="navbar-nav">
                <li><a href="{% url "menu" %}">Home</a></li>
                <li><a href="{% url "games" %}">Games</a></li>
                <li><a href="{% url "scores" %}">Scores</a></li>
            </ul>
            {% if authorized %}
                <span>Playing as {{ username }}</span>
                <a href="{% url "logout" %}" class="navbar-brand">Logout</a>
            {% else %}
                <a href="{% url "login" %}" class="navbar-brand">Login</a>
            {% endif %}
        </nav>
    </head>
    <body>
        {% block content %}
        {% endblock content %}
        {% block js_file %}
        {% endblock js_file %}
    </body>
    <footer class="footer">
        <div class="footer-left">
          <div class="footer-links">
            {% if not authorized %}
            <a href="{% url "register" %}">Register</a>
            {% endif %}
            <a href="https://github.com/gil9192/world-of-games-1312">GitHub</a>
            <a href="#">Docs</a>
            <a href="#">Accessibility</a>
            <a href="#">Privacy Policy</a>
            <a href="#">About</a>
          </div>
        </div>
        <div class="footer-right">
          <span>Version 2.0.5</span>
        </div>
      </footer>
    </footer>
</html>